.container {
    margin-top: 240px;
}

.map{
    background-image: url(../img/map.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.map_info {
    background-color: #fff;
    padding: 44px;
    border-radius: 20px;
    margin: auto 32px;
    width: 30%;
}

.map_list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 32px;
}

.map_item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.map_heading {
    font-size: 2.6rem;
    color: #252525;
    font-weight: bold;
    margin-bottom: 36px;
    line-height: 3rem;
}

.map_item p {
    font-size: 1.6rem;
    color: #808291;
    line-height: 2rem;
}

.map_item i {
    margin-right: 16px;
    font-size: 2rem;
}

.map_item:first-child i {
    margin-right: 24px;
}

.map_btn {
    padding: 20px 32px;
    background-color: #ccc;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
    display: block;
    text-align: center;
    font-weight: 600;
}

.map_btn:hover {
    color: #fff;
    background-color: #000;
    transition: linear 0.1s;
}

.contact_name {
    font-size: 4.8rem;
    line-height: 5rem;
    color: #252525;
    text-align: center;
    margin-bottom: 16px;
}

.contact_desc {
    text-align: center;
    color: #808291;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 50px;
}

.contact_box {
    max-width: 1200px;
    margin: 0 auto 64px;
    padding: 64px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.1);
    border-radius: 16px;

}

.contact_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.contact_heading {
    font-size: 3rem;
    line-height: 3.6rem;
    color: #252525;
    margin-bottom: 16px;
}

.contact_phone p{
    font-size: 1.6rem;
    color: #808291;
    line-height: 2.4rem;
    margin-bottom: 4px;
    font-weight: bold;
}

.contact_phone span {
    font-size: 2rem;
    color: #ff5538;
}

.contact_phone i {
    font-size: 2rem;
}

.contact_info .col  {
    padding: 0 16px;
}

.contact_input {
    width: 100%;
    padding: 10px 16px 10px 0;
    margin-bottom: 20px;
    font-size: 1.6rem;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

.send {
    width: 100%;
    padding: 16px 16px 24px 16px;
    font-size: 1.6rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 16px;
}

.contact_action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.contact_text {
    font-size: 1.6rem;
    color: #808291;
    width: 50%;
    line-height: 2rem;
}

.contact_btn {
    padding: 16px 36px;
    border-radius: 36px;
    border: none;
    color: #fff;
    background-color: #18334e;
}


.contact_btn:hover {
    cursor: pointer;
    background-color: #1d466e;
    transition: linear .2s;
}
